:root {
  --fontSizes: 16px;
  --colorTexto: #fff;
  --colorTitulos: #9287ef;
  --background: #060c14;
  --backgroundSection: #171717;
  --backgroundSectionDark: #1d1e20;
  --backgroundElement: #262626;
  --colorLinea: #262626;
  --colorBotones: #554c9c;
  --colorBotonExtendido: #2c2845;
  --colorBotonesHover: #48408f;
  --backgroundAccion: #403f40;
  --backgroundAccionHover: #5a595a;
  --logo: 30px;
  --backgroundPomodoro: #818181;
  --backgroundBreak: #959595;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--fontSizes);
  color: var(--colorTexto);
  background: var(--background);
  box-sizing: border-box;
  overflow: hidden;
}

/***********************************   Section SideBar **************************************/
.contenedor-side-bar {
  width: 20%;
  min-width: 290px;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--backgroundSection);
  box-sizing: border-box;
}

.contenedor-side-bar .contenedor-logo {
  width: 100%;
  /* Ancho deseado del div */
  height: auto;
  /* Alto deseado del div */
  padding-bottom: 50px;
}

.contenedor-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* Ancho deseado del div */
}

.contenedor-side-bar .menu-barra-lateral {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.menu-barra-lateral a {
  width: 100%;
  text-decoration: none;
  color: var(--colorTexto);
}

.menu-barra-lateral ul {
  width: 100%;
}

li {
  width: 100%;
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

li:hover {
  border-radius: 5px;
  background: var(--backgroundSectionDark);
}

/* Estilo cuando un elemento li está activo */
li.active {
  width: 100%;
  border-radius: 5px;
  background: var(--backgroundElement);
}

.botones-accesibilidad {
  padding-bottom: 20px;
  width: 100%;
}

.botones-accesibilidad svg {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.contenedor-side-bar p {
  width: 100%;
  font-size: 12px;
}

.menu-barra-lateral svg {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

/***********************************   Section principal **************************************/
.contenedor-principal {
  width: 100%;
  height: 100%;
  padding: 40px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background);
  box-sizing: border-box;
}

/***********************************   contenedor configuracion **************************************/
.contendor-configuracion {
  width: 100%;
  max-width: 80%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  background: var(--backgroundSection);
  box-sizing: border-box;
}

/***********************************   contenedor contacto **************************************/
.contenedor-contacto {
  width: 100%;
  max-width: 80%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  background: var(--backgroundSection);
  box-sizing: border-box;
}

.seccion {
  display: none;
}

.seccion-visible {
  display: inherit;
}